@use postcss-nested;
@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
    font-family: 'Roboto';
    font-weight: 700;
    width: 100%;
    overflow:hidden;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.logo{
    max-width: 100px;
    max-height: 34.5px;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    z-index: 200;
    position: fixed;

}
.navlinks ul{
    display: flex;
    gap: 1em;
    font-size: 1.5vw 18px;
}
.navlinks ul li{
    padding: 5px 14px;
}
.navlinks ul li a{
  padding: 5px 14px;
}
.navlinks ul li:hover{
    border-bottom: 1px solid black;
}
.hero{
    height:100vh;
    width: 100vw;
    background-image:linear-gradient(
        120grad,
        #653986d0,
        #424213d0
      );
    background-size:cover;
    background-repeat:no-repeat;
    position:relative;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    text-align: center;
}
.hero .row h1{
    font-size:45px;
    font-weight:700;
}
.btns{
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    height: auto;
}
.btns a{
    margin-top: 15px;
    padding: 10px 20px;
    background: rgba(0, 0, 255, 0.562);
    color: #000;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.btns a:hover{
    letter-spacing: 0.2em;
}
.hero .row h3{
    inline-size: 100%;
    margin-top: 15px;
    font-size: 1.12em;
}

.back {
    background: linear-gradient(120grad, #643986, #98aed5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  
.registration-form {
    width: 400px;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45%;
    background: transparent;
  }
.registration-form header {
    position: relative;
    z-index: 4;
    background: white;
    padding: 20px 40px;
    border-radius: 15px 15px 0 0;
  }
.registration-form header h1 {
    font-weight: 900;
    letter-spacing: 1.5px;
    color: #333;
    font-size: 23px;
    text-transform: uppercase;
    margin: 0;
  }
  .registration-form header p {
    word-spacing: 0px;
    color: #9facb6;
    font-size: 17px;
    margin: 0;
    margin-top: 5px;
  }
  .registration-form form {
    position: relative;
  }
  .registration-form .input-section {
    width: 100%;
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    height: 75px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in;
  }
  .registration-form .input-section.folded {
    width: 95%;
    margin-top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
  }
  .registration-form .input-section.folded input {
    background-color: #e9e2c0;
  }
  .registration-form .input-section.folded span {
    background-color: #e9e2c0;
  }
  .registration-form .input-section.folded + .folded {
    width: 90%;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
  }
  .registration-form .input-section.folded + .folded input {
    background-color: #e1bcef;
  }
  .registration-form .input-section.folded + .folded span {
    background-color: #e1bcef;
  }
  .registration-form .input-section.fold-up {
    margin-top: -75px;
  }
  .registration-form form input {
    background: white;
    color: #8f8fd6;
    width: 80%;
    border: 0;
    padding: 20px 40px;
    margin: 0;
  }
  .registration-form form input:focus {
    outline: none;
  }
  .registration-form form input::-moz-placeholder {
    color: #8f8fd6;
    font-weight: 100;
  }
  .registration-form form input:-ms-input-placeholder {
    color: #8f8fd6;
    font-weight: 100;
  }
  .registration-form form input::placeholder {
    color: #8f8fd6;
    font-weight: 100;
  }
  
  .animated-button {
    width: 20%;
    background-color: #d4d4ff;
  }
  .animated-button span {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    line-height: 75px;
    text-align: center;
    height: 75px;
    transition: all 0.2s ease-in;
  }
  .animated-button span i {
    font-size: 25px;
    color: #9999f8;
  }
  .animated-button .next-button {
    background: transparent;
    color: #9999f8;
    font-weight: 100;
    width: 100%;
    border: 0;
  }
  
  .next {
    margin-top: -75px;
  }
  
  .success {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    left: 50%;
    transform: translate(-50%, 0);
    height: 75px;
    border-radius: 0 0 15px 15px;
    overflow: hidden;
    z-index: 2;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in;
    background: limegreen;
    margin-top: -75px;
  }
  .success p {
    display: block;
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 18px;
    width: 100%;
    text-align: center;
  }


  @media(max-width: 768px){
    #navbar{
        padding-left: 25px;
        padding-right: 25px;
    }
    .hero{
        padding-top: 50px;
        padding-bottom: 90px;
    }
    .registration-form {
      width: 80%;
      position: relative;
      left: 50%;
      transform: translate(-50%, -50%);
      right: 50%;
      background: transparent;
    }
    .sign{
      margin-top: 10px;
      padding: 10px 10px;
      background: rgba(0, 0, 255, 0.39);
      border-radius: 25px;
      letter-spacing: 0.05em;
      text-decoration: none;
      list-style: none;
      transition: 0.5s ease-in-out;
  }

}